<!DOCTYPE html>
<html lang="en">
<head>
    <title>Chatbot - {% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="https://previews.123rf.com/images/arbuzu/arbuzu1705/arbuzu170500041/78670323-letter-l-logo-icon-design-template-elements.jpg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
    {% block link %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    <p style="width:100%; position: absolute; bottom: 10px;left: 0; color: #666666; text-align: center;">
        &copy; Copyright 2023 by Phan Nhat Linh
    </p>
</body>

</html>