{% extends 'base.html' %}

{% block title %} Welcome {% endblock %}

{% block link %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/6c08e0fb05.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
    integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"
    integrity="sha512-YeeA/Qxn5hYdkukScTCNNOhTrv1C2RubAGButJ1rmgQwZf/HdRaCGl+JAVkqsqaNRaYNHdheiuKKuPf9mDcqKg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% endblock %}


{% block content %}

<script type="text/javascript">
    // convert text to speech
    function speak(message) {
        var msg = new SpeechSynthesisUtterance(message)
        var voices = window.speechSynthesis.getVoices()
        msg.voice = voices[0]
        window.speechSynthesis.speak(msg)
    }

    // realtime message using socket
    $(document).ready(function () {
        var socket = io.connect("http://localhost:5000")
        socket.on('connect', function () {
            socket.send("User connected!")
        })

        socket.on('message', function (data) {
            if (data) {
                if (data == 'User connected!') {
                    // scroll when begin conversation
                    $('#messages').scrollTop($('#messages')[0].scrollHeight);
                } else {
                    // add data to interface and speak
                    receive = data.split(';')
                    $('#messages').append(receive[0])
                    setTimeout(function () { }, 500);
                    $('#messages').scrollTop($('#messages')[0].scrollHeight);
                    setTimeout(function () { }, 4000);
                    $('#messages').append(receive[1])
                    setTimeout(function () { }, 500);
                    $('#messages').scrollTop($('#messages')[0].scrollHeight);
                    speak_tail = receive[1].split('<div class="msg_cotainer">')
                    speak_result = speak_tail[1].split('<span')[0]
                    speak(speak_result)
                }
            }
        })
        // get value and send to sever
        $('#sendBtn').on('click', function () {
            socket.send($('#message').val())
            $('#message').val('')
        })

    })



</script>
<div class="container-fluid h-100">
    <div class="row justify-content-center h-100">
        <div class="col-md-8 col-xl-6 chat">
            <div class="card">
                <!-- ? Header of the conversation -->
                <div class="card-header msg_head">
                    <div class="d-flex bd-highlight">
                        <div class="img_cont">
                            <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                                class="rounded-circle user_img">
                            <span class="online_icon"></span>
                        </div>
                        <div class="user_info">
                            <span>Corgiman</span>
                            <p>1767 Messages</p>
                        </div>
                        <div class="video_cam">
                            <span><i class="fas fa-video"></i></span>
                            <span><i class="fas fa-phone"></i></span>
                        </div>
                    </div>
                    <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
                    <div class="action_menu">
                        <ul>
                            <li><i class="fas fa-user-circle"></i> View profile</li>
                            <li><i class="fas fa-users"></i> Add to close friends</li>
                            <li><i class="fas fa-plus"></i> Add to group</li>
                            <li><i class="fas fa-ban"></i> Block</li>
                        </ul>
                    </div>
                </div>
                <!--? Body of conversation  -->
                <div class="card-body msg_card_body" id="messages">
                    <div class="d-flex justify-content-start mb-4">
                        <div class="img_cont_msg">
                            <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                                class="rounded-circle user_img_msg">
                        </div>
                        <div class="msg_cotainer">
                            Bot is ready !
                            <span class="msg_time"></span>
                        </div>
                    </div>
                    <!-- {% autoescape off %}
                        {{ data }}
                        {% endautoescape %} -->

                    {% for x in data %}
                    <div class="d-flex justify-content-end mb-4">
                        <div class="msg_cotainer_send">
                            {{ x['client'] }}
                            <span class="msg_time_send">{{ x['time'] }}</span>
                        </div>
                        <div class="img_cont_msg">
                            <img src="https://play-lh.googleusercontent.com/6f6MrwfRIEnR-OIKIt_O3VdplItbaMqtqgCNSOxcfVMCKGKsOdBK5XcI6HZpjssnB2Y"
                                class="rounded-circle user_img_msg">
                        </div>
                    </div>
                    <div class="d-flex justify-content-start mb-4">
                        <div class="img_cont_msg">
                            <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                                class="rounded-circle user_img_msg">
                        </div>
                        <div class="msg_cotainer">
                            {{ x['bot'] }}
                            <span class="msg_time">{{ x['time'] }}</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <button class="input-group-append" onclick="runSpeechRecognition()">
                            <span class="input-group-text attach_btn"><i class="fa-solid fa-microphone"></i></span>
                        </button>
                        <input type="text" id="message" class="form-control type_msg" placeholder="Type your message..."
                            autofocus></input>
                        <button id="sendBtn" class="input-group-append">
                            <span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form method="post" action="logout">
    <input style="position: absolute; top: 10px; right: 10px;" type="submit" value="Log out">
</form>
<!-- <script src="./../static/main.js"></script> -->
<script src="{{ url_for('static', filename='main.js') }}"></script>

<script>
    /* JS comes here */
    function runSpeechRecognition() {
        // get output div reference
        var output = document.getElementById("message");
        // new speech recognition object
        var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
        var recognition = new SpeechRecognition();

        // This runs when the speech recognition service starts
        recognition.onstart = function () {
            // action.innerHTML = "<small>listening, please speak...</small>";
        };

        recognition.onspeechend = function () {
            // action.innerHTML = "<small>stopped listening, hope you are done...</small>";
            recognition.stop();
        }

        // This runs when the speech recognition service returns result
        recognition.onresult = function (event) {
            var transcript = event.results[0][0].transcript;
            // var confidence = event.results[0][0].confidence;
            output.value = transcript
            document.getElementById("sendBtn").click();
        };

        // start recognition
        recognition.start();
    }
</script>

{% endblock %}